node_modules

.vscode
.env
.env.production

localhost.session.sql
herokuDB.session.sql

static/*
!static/images
static/images/*
!static/images/avatars
static/images/avatars/*
!static/images/avatars/default.jpg